//= require_tree .

// Require bootstrap-scss (rather than via sprockets) so that colours can be overridden
$navbar-inverse-bg: #3F4C6B;
$navbar-inverse-link-color: #F9F7ED;
$label-warning-bg: #E0AD3E;
@import "bootstrap";

html {
 overflow-y: scroll;
}

body {
  padding-top: 50px;
}

// Fix icons in navbar to be less padded, but larger
.navbar-right li a {
  padding: 8px;
  text-align: left;
}
.navbar img {
  height: 32px;
}

.centered { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#portrait {
  padding-top: 10px;
}

div#contact img {
  background-color: #3F4C6B;
}