$navbar-inverse-bg: #3F4C6B;
$navbar-inverse-link-color: #F9F7ED;

@import "bootstrap";


body {
  padding-top: 40px;
}

// Fix icons in navbar to be less padded, but larger
.navbar-right li a {
  padding: 11px;
}
.navbar img {
  height: 32px;
}

.centered { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#portrait {
  padding-top: 10px;
}

div#contact img {
  background-color: #3F4C6B;
}