<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>What I do</h2>
      <p>I help engineers to build software better (and, indirectly, to build better software). To do this, I develop novel software engineering techniques, and build tools that make it easy to apply those techniques in practice.</p>

      <p>My current focus is on making it easier to apply mutation testing (a powerful but computationally expensive approach for software testing) to realistic software systems. To do this, I am building on my previous work on model-driven engineering, which is a software engineering approach that provides significant infrastructure for automation and abstraction.</p>

      <p>My research is used in practice. The transformation language developed in my 2011 doctoral thesis, <a href="http://eclipse.org/epsilon/doc/flock/">Epsilon Flock</a>, is used by BAE Systems and IKERLAN. The wider Epsilon project is used by NASA, Thales, Siemens, Rolls Royce and IBM <a href="http://eclipse.org/epsilon/users/">among others</a>.</p>

      <h3>Why I do what I do</h3>

      <p>Software increasingly affects every aspect of our lives. Software that is faulty, unreliable, unresponsive,
         inaccessible, or otherwise fails to be fit-for-purpose is less acceptable than ever. Poor quality software
         negatively affects our quality of life, causes economic damage and (in the case of safety-critical systems)
         causes fatalities. I want to better understand how to engineer software of acceptable quality, and to make it easier for software engineers to "do the right thing."
      </p>
       <h3>Current research projects</h3>
       <p><strong>Scalable Model-Driven Engineering (MONDO)</strong>: exploring how we can apply state-of-the-art
          modelling tools and techniques at scale. At York, we are investigating how to efficiently store
          and query huge, distributed models.<br/>
         <em style="padding-left: 10px">with <a href="http://www.cs.york.ac.uk/~dkolovos/">Dimitris Kolovos</a> and <a href="http://www.cs.york.ac.uk/~paige/">Richard Paige</a></em></p>
       </p>
       <p><strong>Incremental Model-to-Text Transformation</strong>: developing techniques for efficiently propagating changes from models to generated code (and other textual artefacts).<br/>
         <em style="padding-left: 10px">with <a href="http://www.cs.york.ac.uk/~jimmy/"> Jimi Ogunyomi</a> and <a href="http://www.cs.york.ac.uk/~dkolovos/">Dimitris Kolovos</a></em></p>
       <p><strong>Mitigating Cloud Lock-In:</strong> applying model-driven engineering tools and techniques to automate the
         migration of software systems from one cloud provider to another.<br/>
         <em style="padding-left: 10px">with <a href="http://www.cs.york.ac.uk/~gabriel/">Gabriel Costa-Silva</a> and <a href="http://www.cs.york.ac.uk/~raduc/">Radu Calinescu</a></em></p>

       <h3>Community involvement</h3>
       <p>I co-organise the <a href="http://www.transformation-tool-contest.eu">Transformation Tool Contest</a>.
       </p>
       <p>I am an organising committee member for the <a href="http://stafconferences.info">Software
          Technologies: Applications and Foundations (STAF) conferences</a>. (2015: publications chair. 2014: local organiser).</p>
       <p>I was a programme committee member for the <a href="http://www.utwente.nl/ewi/ecmfa/">European Conference on
          Modelling: Foundations and Applications (ECMFA)</a> between 2012 and 2014.
       </p>
     </div>
     <div class="col-md-4 hidden-xs hidden-sm">
       <img class="illustration" src="/images/theory_practice.jpg"/>
     </div>
   </div>
</div>
