<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div id="portrait" class="col-md-2">
        <img src="images/photo.jpg" class="img-circle img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>Louis Rose</h2>
        <p>I am a lecturer in the Department of Computer Science,
           at the University of York.</p>

        <p>I research and teach software engineering.</p>

        <p>I develop and maintain open-source software, including <a href="http://www.eclipse.org/epsilon">Epsilon</a> and <a href="http://eugenialive.herokuapp.com">Eugenia Live</a>.</p>                    
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>About</h2>
      <p>I have been a lecturer at York since 2011. I graduated with an MEng and a PhD from York in 2008 and 2011 respectively. My PhD supervisors were <a href="http://www.cs.york.ac.uk/~paige">Prof. Richard Paige</a> and <a href="http://www.cs.york.ac.uk/~fiona">Dr. Fiona Polack</a>.</p>
      <p>
        I occasionally blog about software engineering and academia.
      </p>
      <p>
        My office is <strong>RCH/102a</strong>.
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Research</h2>
      <p>My research interests include domain-specific languages, model-driven engineering and software maintenance.</p>
      <p>I am a co-investigator on the EC FP7 project MONDO, which explores scalable approaches to model-driven engineering.</p>
      <p><a class="btn btn-default" href="#" role="button">More »</a></p>
   </div>
    <div class="col-sm-4">
      <h2>Teaching</h2>
      <p>I currently lead the <a href="http://www.cs.york.ac.uk/modules/enar.html">Enterprise Architecture</a> module. I also teach on the <a href="http://www.cs.york.ac.uk/modules/mode.html">Model-Driven Engineering</a> module.</p>
      <p>I supervise the projects of final-year and Masters students on topics relating 
        to my research interests (and other awesome software engineering topics).</p>
      <p><a class="btn btn-default" href="#" role="button">More »</a></p>
    </div>
  </div>
</div>

<hr>
<footer>
  <div class="container">
    <div id="contact" class="row">
      
    </div>
  </div>
</footer>
