<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div id="portrait" class="col-md-2">
        <img src="images/photo.jpg" class="img-circle img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>Louis Rose</h2>
        <p>I am a lecturer in the
           <a href="http://www.cs.york.ac.uk">Department of Computer Science</a>,
           at the <a href="http://www.york.ac.uk">University of York</a>.</p>

        <p>I research and teach software engineering.</p>

        <p>I develop open-source software, including <a href="http://www.eclipse.org/epsilon">Epsilon</a> and <a href="http://eugenialive.herokuapp.com">Eugenia Live</a>.</p>                    
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>About</h2>
      <p>I have been a lecturer at York since 2011. I graduated with an MEng and a PhD from York in 2008 and 2011 respectively. My PhD supervisors were <a href="http://www.cs.york.ac.uk/~paige">Prof. Richard Paige</a> and <a href="http://www.cs.york.ac.uk/~fiona">Dr. Fiona Polack</a>.</p>
      <p>
        I occasionally <a href="http://louismrose.tumblr.com/">blog</a> about software engineering and academia.
      </p>
      <p>
        My office is <strong>RCH/102a</strong>.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Research</h2>
      <p>My research investigates how to better assess and improve the quality of software in an automatic manner.</p>
      <p>I investigate how model-driven engineering techniques can automate development activities that improve 
        the correctness and scalability of software.</p>
      <p>
        <a class="btn btn-default" href="/research.html" role="button">More information »</a>
      </p>
   </div>
    <div class="col-md-4">
      <h2>Teaching</h2>
      <p>I currently lead the <a href="http://www.cs.york.ac.uk/modules/enar.html">Enterprise Architecture (ENAR)</a> module. I also teach on the <a href="http://www.cs.york.ac.uk/modules/mode.html">Model-Driven Engineering (MODE)</a> module.</p>
      <p>I supervise the projects of final-year and Masters students on topics relating 
        to my research interests (and other awesome software engineering topics).</p>
    </div>
  </div>
</div>