<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>What I do</h2>
      <p>I research automatic methods for assessing and improving the quality of software.
         I am currently focusing on methods relating to the correctness and scalability of 
         software. I often develop and apply model-driven engineering techniques in my work.
       </p>
      
      <h3>Why I do what I do</h3>
      
      <p>Software is increasingly ubiquitous, and increasingly important to society. Every day, we use dozens of
         software systems, of varying degrees of quality. Software that is faulty, unreliable, unresponsive, 
         inaccessible, or otherwise fails to be fit-for-purpose is less acceptable than ever. Poor quality software 
         negatively affects our quality of life, causes economic damage and (in the case of safety-critical systems)
         causes fatalities. My research is motivated by a desire to better understand how to engineer software 
         of acceptable quality. 
      </p>
      <p>Quality means different things to different users and in different software systems. In some situations, 
         software is only acceptable when it is entirely free of bugs. In other situations, software that is fast, or that is easy to use or that is inexpensive to engineer is more important than bug-free software.
      </p>
      <p>Because most software systems change substantially over their lifetime, I believe that automatic methods
         for assessing, monitoring and improving the quality of software are vital to the future of software engineering.</p>
     </div>
     <div class="col-md-4" style="margin-top: 20px">
       <img src="images/quality.jpg" class="img-thumbnail img-responsive centered">
       <h6>Photo by <a href="http://www.flickr.com/photos/inju/2647397230/sizes/o/in/photolist-52WAXQ-59avBF-5gxgN4-5mBXvt-5skAUP-5ywfu8-5Npi4v-5Npia2-5Npitk-5NpjX4-5Nt2ok-5Ntyxj-5NtzaL-5NtzhC-5NtzAy-5Nu6JJ-5ND53z-5STx4V-5STx8V-6obuz9-6FuFqp-6YjMPp-73uu3m-797v5W-7daP81-7iWHHk-7uXUTP-7wZTgj-bvnVk7-9nq6WN-8wac6W-7y2U1R-7y2TWM-9gHpCR-7WrTGj-7WoCS6-7WoCM2-dRjqpz-8mM2wF-e1WKKU-7UFrdx-7Zdnoy-aK4w7D-aZyZcg-dM1CFH-9g98Ld-bH3rqT-7WrTxb-7WrTJ1-eaj1iW/">Kevin Lim</a></h6>
     </div>
   </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Current research projects</h3>
      <p><strong>Scalable Model-Driven Engineering (MONDO)</strong>: exploring how we can apply state-of-the-art
         modelling tools and techniques at scale. At York, we are investigating how to efficiently store 
         and query huge, distributed models.<br/>
        <em style="padding-left: 10px">with <a href="http://www.cs.york.ac.uk/~dkolovos/">Dimitris Kolovos</a> and <a href="http://www.cs.york.ac.uk/~paige/">Richard Paige</a></em></p>
      </p>
      <p><strong>Incremental Model-to-Text Transformation</strong>: investigating the extent to which automatic methods can be
        used to more efficiently propagate changes to generated code (and other textual artefacts).<br/>
        <em style="padding-left: 10px">with <a href="http://www.cs.york.ac.uk/~jimmy/"> Jimi Ogunyomi</a> and <a href="http://www.cs.york.ac.uk/~dkolovos/">Dimitris Kolovos</a></em></p>
      <p><strong>Mitigating Cloud Lock-In:</strong> applying model-driven engineering tools and techniques to automate the
        migration of software systems from one cloud provider to another.<br/>
        <em style="padding-left: 10px">with <a href="http://www.cs.york.ac.uk/~gabriel/">Gabriel Costa-Silva</a> and <a href="http://www.cs.york.ac.uk/~raduc/">Radu Calinescu</a></em></p>
    </div>
    
    <div class="col-md-6">
      <h3>Community involvement</h3>
      <p>I am a programme committee member of the <a href="http://www.utwente.nl/ewi/ecmfa/">European Conference on
         Modelling: Foundations and Applications (ECMFA)</a>.
      </p>
      <p>I co-organise the <a href="http://www.transformation-tool-contest.eu">Transformation Tool Contest</a> and
         the <a href="http://www.acme-workshop.org">ACademics Modelling with Eclipse (ACME)</a> workshop.
      </p>
      <p>I am a member of the local organising committee for the 2014 <a href="http://stafconferences.info">Software 
         Technologies: Applications and Foundations (STAF) conferences.</p>
    </div>
  </div>
</div>