<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Teaching</h2>
      <p>Some of my favourite things are:

        <ol>
          <li>Building software</li>
          <li>Learning to build software better</li>
          <li>Sharing my findings with the curious</li>
        </ol>

        When I teach, I typically get to do all three!
      </p>

      <h3>Approach</h3>
      <p>Software engineering is about trade-offs: we're frequently faced with making difficult decisions (with incomplete information) to which there is no right answer. As such, I prefer to emphasise skills in analysis, evaluation and reflection when I teach.<p>

      <p>I have built software at IBM, for startup companies, and as part of Eclipse (one of the largest open-source foundations). I often draw on these experiences during my teaching.</p>

      <p>I am currently trialling a "flipped classroom" model in which I aim to take a coaching role (rather than an instructing role). To make this possible, lectures are pre-recorded and classroom time is used not for "delivering" new material, but instead for identifying misconceptions, providing clarifications, and guiding students as they apply theory to practical problems.</p>

      <h3>Student Projects</h3>

      <p>I supervise final-year undergraduate and Masters projects on software engineering. A list of my current and former victims is below.</p>

      <h4>2015/16</h4>
      <ul>
        <li>Tim Waterson - Mutation testing as a service</li>
        <li>Katherine Smith - How is mutation testing really used?</li>
        <li>Liam Mullane - Uncovering equivalent mutants</li>
        <li>James Shaw - A program mutator for any language</li>
        <li>Katie Mills - Kill me quick: speeding up mutation testing</li>
      </ul>

      <h4>2014/15</h4>
      <ul>
        <li>Anton Antonov - <a href="https://www.cs.york.ac.uk/library/proj_files/2015/4thyr/aga504/Anton%20Antonov%20-%20IFML%20Modelling%20for%20Rapidly%20Prototyping%20Web%20Interfaces.pdf">IFML modelling for rapidly prototyping web interfaces</a>
        </li>
        <li>Megan Parkes - <a href="https://www.cs.york.ac.uk/library/proj_files/2015/3rdyr/mep513/project.pdf">Go Mutate: Automated &amp; objective mutation testing on real-world subjects</a>
        </li>
        <li>Olugbenga Bastos - <a href="https://www.cs.york.ac.uk/library/proj_files/2014/MScSWE/ob593/ISM_Report.pdf">What do metamodels really look like?</a>
      </ul>

      <h4>2013/14</h4>
      <ul>
        <li>Dan Knight - <a href="https://www.cs.york.ac.uk/library/proj_files/2014/3rdyr/dk589/DanielKnightProject.pdf">Your transformation stinks: adding refactoring support to Epsilon</a></li>
        <li>Mark Schofield - <a href="https://www.cs.york.ac.uk/library/proj_files/2014/4thyr/ms703/project.pdf">Integrating the physics of notations into Eugenia</a></li>
        <li>Thomas Wormald - <a href="https://www.cs.york.ac.uk/library/proj_files/2014/4thyr/tww503/main.pdf">Implementing test coverage in Epsilon</a></li>
        <li>Alex Tringham - <a href="https://www.cs.york.ac.uk/library/proj_files/2014/4thyr/at611/Alex%20Tringham%20-%20Scaling%20Epsilon%20Workflows%20to%20the%20Cloud.pdf">Scaling epsilon workflows to the cloud</a></li>
        <li>Laize Wang - <a href="https://www.cs.york.ac.uk/library/proj_files/2013/MScSWE/lw1055/Creating%20even%20better%20graphical%20editors%20with%20Eugenia.pdf">The extended editing extra framework for Eugenia</a></li>
      </ul>

      <h4>2012/13</h4>
      <ul>
        <li>Tryfon Emmanouilidis - <a href="https://www.cs.york.ac.uk/library/proj_files/2012/MScSWE/te543/Tryfon%20Emmanouilidis%20Project%20Report.pdf">Reoos: Refactoring and evaluation of object-oriented systems</a></li>
        <li>Suhrid Karthik - <a href="https://www.cs.york.ac.uk/library/proj_files/2012/MScSWE/sk862/SuhridKarthik_MScSWE_ProjectReport_2012.pdf">Model-driven development of a workflow editor for Epsilon</a></li>
      </ul>

      <h3>Awards and Qualifications</h3>

      <p>I have twice been nominated for a Vice Chancellor's Teaching Award at the University of York, in 2011 and 2013.</p>

      <p>I received a Postgraduate Certificate in Academic Practice and became a Fellow of the Higher Education Academy in 2014.</p>
     </div>
   </div>
</div>
